html{
    background-color: azure;
    font-family: 'Inter', sans-serif;
}
.images{
    width: 300px;
    height: 200px;
    float: right;
    margin-bottom: 10px;
}

.food{
    width: 100%;
    display: block;
}
.first{
    float: right;
    margin: 5px;
}
.second{
    float: right;
    margin: 5px;
}
.third{
    float: right;
    margin: 5px;
}
.fourth{
    float:right
    margin: 5px;
}
.card{
    font-size: 2rem;
}

.food> p{
    font-size: 3rem;
}
h1{
    font-size: 3.5rem;
}
span{
    color: brown;
}
.color{
    color: coral;
    background-color: #6495ed;
}
.blue{
    color: midnightblue;
}
@media(max-width: 680px){
    .food>h1{
        text-align: center;
        font-size: 2rem;
    }
    html{
        background-color: #f08080;
    }
    .food{
        display: block;
    }
    .food> p{
        font-size: 1.5rem;
    }
    .main>h1{
        font-size: 2rem;
    }
    
}